@using LGDXRobot2Cloud.UI.Shared.Icons

<div class="modal modal-blur fade" id="addRobotModal" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Robot</h5>
        @if (currentStep == 0)
        {
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        }
      </div>
      <EditForm EditContext="_editContext" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <div class="modal-body">
          <div class="mb-3 row">
            <ul class="steps steps-counter">
              @for (int i = 0; i < stepHeadings.Count(); i++)
              {
                <li class="step-item @(currentStep == i ? "active" : "")">@stepHeadings[i]</li>
              }
            </ul>
          </div>
          <ModalValidationError Display="IsInvalid" />
          <ModalSubmitError Display="IsError" Crud="@CrudOperation.Create" />
          @if (currentStep == 0)
          {
            <RobotInfo Robot="Robot" />
          }
          else if (currentStep == 1)
          {
            <RobotCertificateKey RobotCertificates="RobotCertificates" />
          }
          else if (currentStep == 2)
          {
            <div class="modal-body text-center py-4">
              <SpecialCircleCheck />
              <h3>Robot Added</h3>
              <div class="text-secondary">Please upload the key to the robot and test the connection.</div>
            </div>
          }
        </div>
        <div class="modal-footer">
          @if (currentStep == 0)
          {
            <a class="btn btn-link link-secondary" data-bs-dismiss="modal">
              Cancel
            </a>
          }
          @if (currentStep < stepHeadings.Count() - 1)
          {
            <button type="submit" class="btn btn-primary ms-auto">
              Next
            </button>
          }
          else
          {
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
              Done
            </button>
          }
        </div>
      </EditForm>
    </div>
  </div>
</div>