@using LGDXRobot2Cloud.Data.Models.Blazor

@if (Robot != null)
{
  <div class="mb-3 row">
    <label class="col-3 col-form-label required" for="Name">Name</label>
    <div class="col">
      <InputText id="Name" @bind-Value="Robot.Name" type="text" class="form-control" placeholder="Your robot name" />
      <ValidationMessage class="invalid-feedback" For="@(() => Robot.Name)" />
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-3 col-form-label" for="Address">Address</label>
    <div class="col">
      <InputText id="Address" @bind-Value="Robot.Address" type="text" class="form-control"
        placeholder="Address of your robot" />
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-3 col-form-label" for="Namespace">Namespace</label>
    <div class="col">
      <InputText id="Namespace" @bind-Value="Robot.Namespace" type="text" class="form-control"
        placeholder="Namespace of your robot" />
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-3 col-form-label pt-0" for="IsRealtimeExchange">Realtime Exchange</label>
    <div class="col">
      <label class="form-check mt-auto">
        <input class="form-check-input" type="checkbox" @bind="Robot.IsRealtimeExchange">
        <span class="form-check-label">Enable realtime exchange</span>
        <span class="form-check-description">This option enable streaming RPC for data exchange (Not Implemented)</span>
      </label>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-3 col-form-label pt-0" for="IsProtectingHardwareSerialNumber">Hardware Protection</label>
    <div class="col">
      <label class="form-check mt-auto">
        <input class="form-check-input" type="checkbox" @bind="Robot.IsProtectingHardwareSerialNumber">
        <span class="form-check-label">Enable hardware protection</span>
        <span class="form-check-description">The system verifies the serial number for hardware and blocks the connection
          if there is a discrepancy</span>
      </label>
    </div>
  </div>
}

@code
{
  [Parameter]
  public RobotBlazor? Robot { get; set; }
}