<div class="card p-3 mb-3">
  <div class="d-flex justify-content-center">
    <div class="text-secondary">
      Search:
    </div>
    <div class="text-secondary">
      <div class="input-group">
        <input type="text" class="form-control form-control-sm ms-2" @bind="DataSearch">
        <button type="button" class="btn btn-sm" @onclick="HandleSearch">Search</button>
        <button type="button" class="btn btn-sm" @onclick="HandleClearSearch">Clear</button>
      </div>
    </div>
  </div>
</div>

@if (RobotsList != null)
{
  <div class="row row-deck row-cards">
    @foreach (var robot in RobotsList)
    {
      var id = robot.Id;
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-status-top bg-green"></div>
          <div class="card-body row">
            <div class="h3"><span class="badge bg-green text-green-fg">Acitve</span></div>
            <div class="h1">@robot.Name</div>
            <div class="mt-auto">
              <div>Address: @robot.Address</div>
              <div>Assigned Task:</div>
              <div>Progress:</div>
            </div>
          </div>
          <div class="d-flex">
            <a href="@($"/robots/robots/{id}")" class="card-btn">
              Manage
            </a>
            <a class="card-btn dropdown-toggle" data-bs-toggle="dropdown" style="cursor: pointer;">
              Quick Action
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item">Pause Task Assignment</a>
              <a class="dropdown-item">Stop This Robot</a>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
}
else
{
  <div class="row row-deck row-cards">
    @for (int i = 0; i < 16; i++)
    {
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-body placeholder-glow">
            <div class="placeholder col-12 placeholder-lg mb-3"></div>
            <div>
              <div class="placeholder col-9"></div>
              <div class="placeholder col-9"></div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
}
@if (RobotsList != null && RobotsList.Count() == 0)
{
  <TableEmpty />
}

<div class="mt-3">
  @if (PaginationMetadata != null && RobotsList != null && RobotsList.Count() > 0)
  {
    <TablePagination PaginationMetadata="PaginationMetadata" ItemCount="RobotsList.Count()"
      OnPageChange="HandlePageChange" />
  }
</div>