@using  LGDXRobot2Cloud.Utilities.Enums

@switch (RobotStatus)
{
  case RobotStatus.Idle:
    <span class="badge bg-green text-green-fg">Idle</span>
    break;
  case RobotStatus.Running:
    <span class="badge bg-green text-green-fg">Running</span>
    break;
  case RobotStatus.Stuck:
    <span class="badge bg-orange text-orange-fg">Stuck</span>
    break;
  case RobotStatus.Aborting:
    <span class="badge bg-orange text-orange-fg">Aborting</span>
    break;
  case RobotStatus.Paused:
    <span class="badge bg-blue text-blue-fg">Paused</span>
    break;
  case RobotStatus.Critical:
    <span class="badge bg-red text-red-fg">Critical</span>
    break;
  case RobotStatus.Charging:
    <span class="badge bg-yellow text-yellow-fg">Charging</span>
    break;
  case RobotStatus.Offline:
  default:
    <span class="badge">Offline</span>
    break;
}

@code 
{
  [Parameter]
  public RobotStatus RobotStatus { get; set; } = RobotStatus.Offline;
}