@attribute [Route(AppRoutes.Navigation.Realms.Index)]
@attribute [Authorize (Policy = Permissions.Navigation.Realms.Read)]
@using LGDXRobot2Cloud.UI.Components.Pages.Navigation.Realms.Components

<PageHeader Title="Realms">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Realms
      </h2>
    </div>
    <AuthorizeView Policy="@Permissions.Navigation.Realms.Write">
      <div class="col-auto ms-auto">
        <a href="@AppRoutes.Navigation.Realms.Create" type="button" class="btn btn-primary">
          Create Realm
        </a>
      </div>
    </AuthorizeView>
  </div>
</PageHeader>

<PageBody>
  <RealmsTable />
</PageBody>