@attribute [Route(AppRoutes.Navigation.Maps.Index)]
@attribute [Authorize (Policy = "ValidateLgdxUserAccess/Navigation/Maps/Read")]
@using LGDXRobot2Cloud.UI.Components.Pages.Navigation.Realms.Components
@rendermode InteractiveServer

<PageHeader Title="Realms">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Realms
      </h2>
    </div>
    <AuthorizeView Policy="ValidateLgdxUserAccess/Navigation/Maps/Write">
      <div class="col-auto ms-auto">
        <a href="@AppRoutes.Navigation.Maps.Create" type="button" class="btn btn-primary">
          Create Realm
        </a>
      </div>
    </AuthorizeView>
  </div>
</PageHeader>

<PageBody>
  <RealmsTable />
</PageBody>