@using LGDXRobot2Cloud.UI.Helpers

@if (_display)
{
  <div class="col-12">
    <div class="alert alert-success" role="alert">
      <div class="d-flex">
        <div class="me-2">
          <CheckIcon />
        </div>
        <div>
          The @EntityName @(_itemName != null ? $"\"{_itemName}\" (ID: {_itemId})" : $"ID: {_itemId}") has been successfully @switch (_crud){
            case CrudOperation.Create:
              <span>created</span>
              break;
            case CrudOperation.Update:
              <span>updated</span>
              break;
            case CrudOperation.Delete:
              <span>deleted</span>
              break;
          }.
        </div>
        <button class="btn-close ms-auto" @onclick="Close"></button>
      </div>
    </div>
  </div>
}

@code {
  [Parameter]
  public string EntityName { get; set; } = string.Empty;

  private bool _display { get; set; }
  private CrudOperation _crud { get; set; }
  private int _itemId { get; set; }
  private string? _itemName { get; set; } = string.Empty;


  public void Open(int itemId, string? itemName, CrudOperation crudOperation)
  {
    _display = true;
    _crud = crudOperation;
    _itemId = itemId;
    _itemName = itemName;
    StateHasChanged();
  }

  public void Close()
  {
    _display = false;
    _itemName = string.Empty;
    StateHasChanged();
  }
}
