@if (Display)
{
  <div class="alert alert-success" role="alert">
    <div class="d-flex">
      <div class="me-2">
        <CheckIcon />
      </div>
      <div>
        Your @ObjectName @(ItemName != string.Empty ? ItemName : "") has been successfully added to the system, the ID number is @Id."
      </div>
    </div>
  </div>
}


@code {
  [Parameter]
  public bool Display { get; set; }

  [Parameter]
  public string ObjectName { get; set; } = string.Empty;

  [Parameter]
  public string ItemName { get; set; } = string.Empty;

  [Parameter]
  public int Id { get; set; }
}