@using LGDXRobot2Cloud.UI.Helpers

@if (Display)
{
  <div class="col-12">
    <div class="alert alert-important alert-success" role="alert">
      <div class="d-flex">
        <div class="me-2">
          <CheckIcon />
        </div>
        <div>
          The @EntityName @(!string.IsNullOrEmpty(ItemName) ? $"\"{ItemName}\" (ID: {ItemId})" : $"ID: {ItemId}") has been successfully @switch (Crud){
            case CrudOperation.Create:
              <span>created</span>
              break;
            case CrudOperation.Update:
              <span>updated</span>
              break;
            case CrudOperation.Delete:
              <span>deleted</span>
              break;
          }.
        </div>
        <button class="btn-close ms-auto" @onclick="Close"></button>
      </div>
    </div>
  </div>
}

@code {
  [Parameter]
  public string EntityName { get; set; } = string.Empty;

  private bool Display { get; set; }
  private CrudOperation Crud { get; set; }
  private int ItemId { get; set; }
  private string? ItemName { get; set; }


  public void Open(int itemId, string? itemName, CrudOperation crudOperation)
  {
    Display = true;
    Crud = crudOperation;
    ItemId = itemId;
    ItemName = itemName;
    StateHasChanged();
  }

  public void Close()
  {
    Display = false;
    ItemName = string.Empty;
    StateHasChanged();
  }
}
