@using LGDXRobot2Cloud.UI.Helpers

@if (Display)
{
  <div class="alert alert-danger" role="alert">
    <div class="d-flex">
      <div class="me-2">
        <XIcon />
      </div>
      <div>
        Something went wrong while @switch (Crud){
          case CrudOperation.Create:
            <span>creating</span>
            break;
          case CrudOperation.Update:
            <span>updating</span>
            break;
          case CrudOperation.Delete:
            <span>deleting</span>
            break;
        } your data, please try again later.
      </div>
    </div>
  </div>
}


@code {
  [Parameter]
  public bool Display { get; set; }

  [Parameter]
  public CrudOperation Crud { get; set; }
}