@if (Display)
{
  <div class="alert alert-warning" role="alert">
    <div class="d-flex">
      <div class="me-2">
        <AlertTriangleIcon />
      </div>
      <div>
        A few things need fixing before submission.
      </div>
    </div>
  </div>
}


@code {
  [Parameter]
  public bool Display { get; set; }
}