<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">
          @ChildContent
        </h2>
      </div>
    </div>
  </div>
</div>

<PageTitle>@ChildContent</PageTitle>

@code {
  [Parameter]
  public RenderFragment? ChildContent { get; set; }
}