@attribute [Route(AppRoutes.Administration.Roles.Index)]
@attribute [Authorize (Policy = Permissions.Administration.Roles.Read)]
@using LGDXRobot2Cloud.UI.Components.Pages.Administration.Roles.Components

<PageHeader Title="Roles">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Roles
      </h2>
    </div>
    <AuthorizeView Policy="ValidateLgdxUserAccess/Identity/Roles/Write">
      <div class="col-auto ms-auto">
        <a href="@AppRoutes.Administration.Roles.Create" class="btn btn-primary">
          Create Role
        </a>
      </div>
    </AuthorizeView>
  </div>
</PageHeader>

<PageBody>
  <RolesTable />
</PageBody>