@inherits NavItem

<li class="nav-item dropdown @GetActive(href)">
  <a class="nav-link dropdown-toggle @GetShowDropdown(href)" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button">
    <span class="nav-link-title">
      @title
    </span>
  </a>
  <div class="dropdown-menu @GetShowDropdown(href)">
    <div class="dropdown-menu-columns">
      @ChildContent
    </div>
  </div>
</li>

@code {
  [Parameter]
  public string title { get; set; } = String.Empty;

  [Inject]
  NavigationManager NavigationManager { get; set; } = default!;

  string GetShowDropdown(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix) => 
    IsActive(href, navLinkMatch) ? "show" : "";
}