# directories
**/bin/
**/obj/
**/out/

# files
Dockerfile*
**/*.md

**/appsettings.json
**/appsettings.*.json

.config/*
.vscode/*
Docker/*
Tests/*
.git/*
.gitignore
.gitlab-ci.yml
img/*
LICENSE
README.md