# LGDXRobot Cloud GitLab CI/CD
# Variables
# $EXT_REGISTRY: Registry URL (e.g. docker.io)
# $EXT_USER: Username for the registry
# $EXT_PAT: PAT for the registry (https://docs.docker.com/security/for-developers/access-tokens/)

variables:
  # 1) Name of directory where restore and build objects are stored.
  OBJECTS_DIRECTORY: 'obj'
  # 2) Name of directory used for keeping restored dependencies.
  NUGET_PACKAGES_DIRECTORY: '.nuget'
  # 3) A relative path to the source code from project repository root.
  SOURCE_CODE_PATH: '*/'
  GITLAB_REG_IMAGE_NAME: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG

# To configure cache to pass over restored dependencies for re-use.
cache:
  # Per-stage and per-branch caching.
  key: "$CI_JOB_STAGE-$CI_COMMIT_REF_SLUG"
  paths:
    # 1) Main JSON file holding information about package dependency tree, packages versions,
    # frameworks etc. It also holds information where to the dependencies were restored.
    - '$SOURCE_CODE_PATH$OBJECTS_DIRECTORY/project.assets.json'
    # 2) Other NuGet and MSBuild related files. Also needed.
    - '$SOURCE_CODE_PATH$OBJECTS_DIRECTORY/*.csproj.nuget.*'
    # 3) Path to the directory where restored dependencies are kept.
    - '$NUGET_PACKAGES_DIRECTORY'
  # 'pull-push' policy means that latest cache will be downloaded (if it exists)
  policy: pull-push

stages:
  - build-2
  - release

build-amd64:
  image: docker:24.0.5-git
  stage: build-2
  dependencies: []
  tags:
    - lgdx-amd64
  services:
    - docker:24.0.5-dind
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    - docker buildx build -t $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:$CI_COMMIT_SHORT_SHA-amd64 -f Dockerfile.api --platform linux/amd64 --provenance false --output push-by-digest=true,type=image,push=true .
    - docker buildx build -t $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:$CI_COMMIT_SHORT_SHA-amd64 -f Dockerfile.ui --platform linux/amd64 --provenance false --output push-by-digest=true,type=image,push=true .
    - docker buildx build -t $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.worker:$CI_COMMIT_SHORT_SHA-amd64 -f Dockerfile.worker --platform linux/amd64 --provenance false --output push-by-digest=true,type=image,push=true .

  only:
    - main

build-arm64:
  image: docker:24.0.5-git
  stage: build-2
  dependencies: []
  tags:
    - saas-linux-small-arm64 
  services:
    - docker:24.0.5-dind
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    - docker buildx build -t $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:$CI_COMMIT_SHORT_SHA-arm64 -f Dockerfile.api --platform linux/arm64 --provenance false --output push-by-digest=true,type=image,push=true .
    - docker buildx build -t $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:$CI_COMMIT_SHORT_SHA-arm64 -f Dockerfile.ui --platform linux/arm64 --provenance false --output push-by-digest=true,type=image,push=true .
    - docker buildx build -t $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.worker:$CI_COMMIT_SHORT_SHA-arm64 -f Dockerfile.worker --platform linux/arm64 --provenance false --output push-by-digest=true,type=image,push=true .
  only:
    - main

release-docker-push:
  image: docker:24.0.5-git
  stage: release
  tags:
    - lgdx-amd64
  dependencies: []
  services:
    - docker:24.0.5-dind
  script:
    - apk add libxml2-utils
    - TEMP_TAG=$(xmllint --xpath "//Project/PropertyGroup/Version/text()" version.xml)
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    - docker manifest create $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:latest --amend $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:$CI_COMMIT_SHORT_SHA-amd64 --amend $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:$CI_COMMIT_SHORT_SHA-arm64
    - docker manifest push EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:latest
  only:
    - main