# LGDXRobot Cloud GitLab CI/CD
# Variables Needed
# $EXT_REGISTRY: Registry URL (e.g. docker.io)
# $EXT_USER: Username for the registry
# $EXT_PAT: PAT for the registry (https://docs.docker.com/security/for-developers/access-tokens/)

variables:
  # 1) Name of directory where restore and build objects are stored.
  OBJECTS_DIRECTORY: 'obj'
  # 2) Name of directory used for keeping restored dependencies.
  NUGET_PACKAGES_DIRECTORY: '.nuget'
  # 3) A relative path to the source code from project repository root.
  SOURCE_CODE_PATH: '*/'
  API_IMAGE_NAME: 'lgdxrobotcloud-api'
  UI_IMAGE_NAME: 'lgdxrobotcloud-ui'
  WORKER_IMAGE_NAME: 'lgdxrobotcloud-worker'
  DATA_IMAGE_NAME: 'lgdxrobotcloud-data'

# To configure cache to pass over restored dependencies for re-use.
cache:
  # Per-stage and per-branch caching.
  key: "$CI_JOB_STAGE-$CI_COMMIT_REF_SLUG"
  paths:
    # 1) Main JSON file holding information about package dependency tree, packages versions,
    # frameworks etc. It also holds information where to the dependencies were restored.
    - '$SOURCE_CODE_PATH$OBJECTS_DIRECTORY/project.assets.json'
    # 2) Other NuGet and MSBuild related files. Also needed.
    - '$SOURCE_CODE_PATH$OBJECTS_DIRECTORY/*.csproj.nuget.*'
    # 3) Path to the directory where restored dependencies are kept.
    - '$NUGET_PACKAGES_DIRECTORY'
  # 'pull-push' policy means that latest cache will be downloaded (if it exists)
  policy: pull-push

stages:
  - prepare
  - build-1
  - test
  - deploy
  - build-2
  - release

prepare:
  stage: prepare
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: alpine:latest
  script:
    - apk add libxml2-utils
    - echo "APP_VERSION=$(xmllint --xpath "//Project/PropertyGroup/Version/text()" version.xml)" >> variables.env
  artifacts:
    reports:
      dotenv: variables.env
    expire_in: 1 days

build:
  stage: build-1
  image: mcr.microsoft.com/dotnet/sdk:9.0.301
  before_script:
    - 'dotnet restore --packages $NUGET_PACKAGES_DIRECTORY'
  script:
    - 'dotnet build --no-restore'

unit-test:
  stage: test
  image: mcr.microsoft.com/dotnet/sdk:9.0.301
  before_script:
    - 'dotnet restore --packages $NUGET_PACKAGES_DIRECTORY'
  script:
    # Run tests
    - 'dotnet test --settings:"Tests/.runsettings" --collect:"XPlat Code Coverage" --test-adapter-path:. --logger:"junit;LogFilePath=TestResults\test-result.xml;MethodFormat=Class;FailureBodyFormat=Verbose" --no-restore'
    # Generate coverage report
    - 'dotnet tool restore'
    - 'dotnet tool run reportgenerator -reports:"Tests/**/coverage.cobertura.xml" -targetdir:"coveragereport" -reporttypes:"HtmlInline;Cobertura;TextSummary"'
    - 'sed -n "/Summary/,/^$/p" coveragereport/Summary.txt'
  coverage: '/Line coverage: (\d+\.\d+%)/'
  artifacts:
    when: always
    paths:
      - coveragereport/*.*
    reports:
      junit:
        - Tests/**/test-result.xml
      coverage_report:
        coverage_format: cobertura
        path: coveragereport/Cobertura.xml
    expire_in: 1 days

unit-test-page:
  stage: deploy
  only:
    - main
  image: alpine:latest
  script:
    # Copy coverage report
    - 'rm coveragereport/Cobertura.xml'
    - 'rm coveragereport/Summary.txt'
    - 'mv coveragereport/ public/'
  pages:
    publish: public
  artifacts:
    paths:
      - public
    expire_in: 1 days

build-amd64:
  stage: build-2
  rules:
  - if: $CI_COMMIT_TAG
    when: never 
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: docker:24.0.5-git
  dependencies: []
  tags:
    - saas-linux-small-amd64
  services:
    - docker:24.0.5-dind
  variables:
    ARCH: amd64
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    # Build Docker images
    - docker build -t $EXT_REGISTRY/$EXT_USER/$API_IMAGE_NAME:dev-$ARCH -f Docker/Dockerfile.api .
    - docker build -t $EXT_REGISTRY/$EXT_USER/$UI_IMAGE_NAME:dev-$ARCH -f Docker/Dockerfile.ui .
    - docker build -t $EXT_REGISTRY/$EXT_USER/$WORKER_IMAGE_NAME:dev-$ARCH -f Docker/Dockerfile.worker .
    - docker build -t $EXT_REGISTRY/$EXT_USER/$DATA_IMAGE_NAME:dev-$ARCH -f Docker/Dockerfile.data .
    # Push Docker images
    - docker push $EXT_REGISTRY/$EXT_USER/$API_IMAGE_NAME:dev-$ARCH
    - docker push $EXT_REGISTRY/$EXT_USER/$UI_IMAGE_NAME:dev-$ARCH
    - docker push $EXT_REGISTRY/$EXT_USER/$WORKER_IMAGE_NAME:dev-$ARCH
    - docker push $EXT_REGISTRY/$EXT_USER/$DATA_IMAGE_NAME:dev-$ARCH

build-arm64:
  stage: build-2
  image: docker:24.0.5-git
  rules:
  - if: $CI_COMMIT_TAG
    when: never 
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  dependencies: []
  tags:
    - saas-linux-small-arm64 
  services:
    - docker:24.0.5-dind
  variables:
    ARCH: arm64
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    # Build Docker images
    - docker build -t $EXT_REGISTRY/$EXT_USER/$API_IMAGE_NAME:dev-$ARCH -f Docker/Dockerfile.api .
    - docker build -t $EXT_REGISTRY/$EXT_USER/$UI_IMAGE_NAME:dev-$ARCH -f Docker/Dockerfile.ui .
    - docker build -t $EXT_REGISTRY/$EXT_USER/$WORKER_IMAGE_NAME:dev-$ARCH -f Docker/Dockerfile.worker .
    - docker build -t $EXT_REGISTRY/$EXT_USER/$DATA_IMAGE_NAME:dev-$ARCH -f Docker/Dockerfile.data .
    # Push Docker images
    - docker push $EXT_REGISTRY/$EXT_USER/$API_IMAGE_NAME:dev-$ARCH
    - docker push $EXT_REGISTRY/$EXT_USER/$UI_IMAGE_NAME:dev-$ARCH
    - docker push $EXT_REGISTRY/$EXT_USER/$WORKER_IMAGE_NAME:dev-$ARCH
    - docker push $EXT_REGISTRY/$EXT_USER/$DATA_IMAGE_NAME:dev-$ARCH

release_job:
  stage: release
  image: docker:24.0.5-git
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - job: prepare
      artifacts: true
    - job: build-amd64
      artifacts: false
    - job: build-arm64
      artifacts: false
  services:
    - docker:24.0.5-dind
  before_script:
    - apk add glab
    - apk add gitlab-release-cli
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    # Create Manifest for combined architecture
    - docker manifest create $EXT_REGISTRY/$EXT_USER/$API_IMAGE_NAME:latest --amend $EXT_USER/$API_IMAGE_NAME:dev-amd64 --amend $EXT_USER/$API_IMAGE_NAME:dev-arm64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/$API_IMAGE_NAME:$APP_VERSION --amend $EXT_USER/$API_IMAGE_NAME:dev-amd64 --amend $EXT_USER/$API_IMAGE_NAME:dev-arm64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/$UI_IMAGE_NAME:latest --amend $EXT_USER/$UI_IMAGE_NAME:dev-amd64 --amend $EXT_USER/$UI_IMAGE_NAME:dev-arm64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/$UI_IMAGE_NAME:$APP_VERSION --amend $EXT_USER/$UI_IMAGE_NAME:dev-amd64 --amend $EXT_USER/$UI_IMAGE_NAME:dev-arm64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/$WORKER_IMAGE_NAME:latest --amend $EXT_USER/$WORKER_IMAGE_NAME:dev-amd64 --amend $EXT_USER/$WORKER_IMAGE_NAME:dev-arm64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/$WORKER_IMAGE_NAME:$APP_VERSION --amend $EXT_USER/$WORKER_IMAGE_NAME:dev-amd64 --amend $EXT_USER/$WORKER_IMAGE_NAME:dev-arm64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/$DATA_IMAGE_NAME:latest --amend $EXT_USER/$DATA_IMAGE_NAME:dev-amd64 --amend $EXT_USER/$DATA_IMAGE_NAME:dev-arm64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/$DATA_IMAGE_NAME:$APP_VERSION --amend $EXT_USER/$DATA_IMAGE_NAME:dev-amd64 --amend $EXT_USER/$DATA_IMAGE_NAME:dev-arm64
    # Push Manifest
    - docker manifest push $EXT_REGISTRY/$EXT_USER/$API_IMAGE_NAME:latest
    - docker manifest push $EXT_REGISTRY/$EXT_USER/$API_IMAGE_NAME:$APP_VERSION
    - docker manifest push $EXT_REGISTRY/$EXT_USER/$UI_IMAGE_NAME:latest
    - docker manifest push $EXT_REGISTRY/$EXT_USER/$UI_IMAGE_NAME:$APP_VERSION
    - docker manifest push $EXT_REGISTRY/$EXT_USER/$WORKER_IMAGE_NAME:latest
    - docker manifest push $EXT_REGISTRY/$EXT_USER/$WORKER_IMAGE_NAME:$APP_VERSION
    - docker manifest push $EXT_REGISTRY/$EXT_USER/$DATA_IMAGE_NAME:latest
    - docker manifest push $EXT_REGISTRY/$EXT_USER/$DATA_IMAGE_NAME:$APP_VERSION
  release:
    name : 'Release $APP_VERSION'
    tag_name: '$APP_VERSION'
    description: '$APP_VERSION'
    ref: '$CI_COMMIT_SHA'
    assets:
      links:
        - name: 'Docker Images for $API_IMAGE_NAME'
          url: 'https://hub.docker.com/v2/repositories/yukaitung/$UI_IMAGE_NAME/tags/$APP_VERSION'
        - name: 'Docker Images for $UI_IMAGE_NAME'
          url: 'https://hub.docker.com/v2/repositories/yukaitung/$API_IMAGE_NAME/tags/$APP_VERSION'
        - name: 'Docker Images for $WORKER_IMAGE_NAME'
          url: 'https://hub.docker.com/v2/repositories/yukaitung/$WORKER_IMAGE_NAME/tags/$APP_VERSION'
        - name: 'Docker Images for $DATA_IMAGE_NAME'
          url: 'https://hub.docker.com/v2/repositories/yukaitung/$DATA_IMAGE_NAME/tags/$APP_VERSION'