# LGDXRobot Cloud GitLab CI/CD
# Variables
# $EXT_REGISTRY: Registry URL (e.g. docker.io)
# $EXT_USER: Username for the registry
# $EXT_PAT: PAT for the registry (https://docs.docker.com/security/for-developers/access-tokens/)

variables:
  # 1) Name of directory where restore and build objects are stored.
  OBJECTS_DIRECTORY: 'obj'
  # 2) Name of directory used for keeping restored dependencies.
  NUGET_PACKAGES_DIRECTORY: '.nuget'
  # 3) A relative path to the source code from project repository root.
  SOURCE_CODE_PATH: '*/'
  GITLAB_REG_IMAGE_NAME: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG

# To configure cache to pass over restored dependencies for re-use.
cache:
  # Per-stage and per-branch caching.
  key: "$CI_JOB_STAGE-$CI_COMMIT_REF_SLUG"
  paths:
    # 1) Main JSON file holding information about package dependency tree, packages versions,
    # frameworks etc. It also holds information where to the dependencies were restored.
    - '$SOURCE_CODE_PATH$OBJECTS_DIRECTORY/project.assets.json'
    # 2) Other NuGet and MSBuild related files. Also needed.
    - '$SOURCE_CODE_PATH$OBJECTS_DIRECTORY/*.csproj.nuget.*'
    # 3) Path to the directory where restored dependencies are kept.
    - '$NUGET_PACKAGES_DIRECTORY'
  # 'pull-push' policy means that latest cache will be downloaded (if it exists)
  policy: pull-push

stages:
  - build-2
  - release

build-amd64:
  image: docker:24.0.5-git
  stage: build-2
  dependencies: []
  tags:
    - lgdx-amd64
  services:
    - docker:24.0.5-dind
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    - docker build -t $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:dev-amd64 -f Dockerfile.api .
    - docker build -t $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:dev-amd64 -f Dockerfile.ui .
    - docker build -t $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.worker:dev-amd64 -f Dockerfile.worker .
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    - docker push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:dev-amd64
    - docker push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:dev-amd64
    - docker push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.worker:dev-amd64
    - echo "DOCKER_API_AMD64=$EXT_REGISTRY/$(docker inspect --format='{{index .RepoDigests 0}}' $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:dev-amd64)" >> amd64.env
    - echo "DOCKER_UI_AMD64=$EXT_REGISTRY/$(docker inspect --format='{{index .RepoDigests 0}}' $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:dev-amd64)" >> amd64.env 
    - echo "DOCKER_WORKER_AMD64=$EXT_REGISTRY/$(docker inspect --format='{{index .RepoDigests 0}}' $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.worker:dev-amd64)" >> amd64.env 
  artifacts:
    paths:
      - amd64.env
    expire_in: 1 days
  only:
    - main

build-arm64:
  image: docker:24.0.5-git
  stage: build-2
  dependencies: []
  tags:
    - saas-linux-small-arm64 
  services:
    - docker:24.0.5-dind
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    - docker build -t $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:dev-arm64 -f Dockerfile.api .
    - docker build -t $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:dev-arm64 -f Dockerfile.ui .
    - docker build -t $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.worker:dev-arm64 -f Dockerfile.worker .
    - docker push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:dev-arm64
    - docker push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:dev-arm64
    - docker push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.worker:dev-arm64
    - echo "DOCKER_API_ARM64=$EXT_REGISTRY/$(docker inspect --format='{{index .RepoDigests 0}}' $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:dev-arm64)" >> arm64.env
    - echo "DOCKER_UI_ARM64=$EXT_REGISTRY/$(docker inspect --format='{{index .RepoDigests 0}}' $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:dev-arm64)" >> arm64.env
    - echo "DOCKER_WORKER_ARM64=$EXT_REGISTRY/$(docker inspect --format='{{index .RepoDigests 0}}' $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.worker:dev-arm64)" >> arm64.env
  artifacts:
    paths:
      - arm64.env
    expire_in: 1 days
  only:
    - main

release_job:
  image: docker:24.0.5-git
  stage: release
  #rules:
    #- if: $CI_COMMIT_TAG
    #  when: never 
    #- if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  tags:
    - lgdx-amd64
  dependencies:
    - build-amd64
    - build-arm64
  services:
    - docker:24.0.5-dind
  script:
    - source amd64.env
    - source arm64.env
    - apk add libxml2-utils
    - TEMP_TAG=$(xmllint --xpath "//Project/PropertyGroup/Version/text()" version.xml)
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    - docker manifest create $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:latest --amend $DOCKER_API_AMD64 --amend $DOCKER_API_ARM64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:$TEMP_TAG --amend $DOCKER_API_AMD64 --amend $DOCKER_API_ARM64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:latest --amend $DOCKER_UI_AMD64 --amend $DOCKER_UI_ARM64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:$TEMP_TAG --amend $DOCKER_UI_AMD64 --amend $DOCKER_UI_ARM64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.worker:latest --amend $DOCKER_WORKER_AMD64 --amend $DOCKER_WORKER_ARM64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.worker:$TEMP_TAG --amend $DOCKER_WORKER_AMD64 --amend $DOCKER_WORKER_ARM64
    - docker manifest push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:latest
    - docker manifest push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:$TEMP_TAG
    - docker manifest push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:latest
    - docker manifest push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:$TEMP_TAG
    - docker manifest push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.worker:latest
    - docker manifest push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.worker:$TEMP_TAG
  release:
    tag_name: '$TEMP_TAG'
    name : 'Release $TEMP_TAG'
    description: '$TEMP_TAG'
    ref: '$CI_COMMIT_SHA'
    assets:
      links:
        - name: 'Docker for LGDXRobotCloud.API'
          url: 'https://hub.docker.com/v2/repositories/yukaitung/lgdxrobotcloud.ui/tags/$TEMP_TAG'
        - name: 'Docker for LGDXRobotCloud.UI'
          url: 'https://hub.docker.com/v2/repositories/yukaitung/lgdxrobotcloud.api/tags/$TEMP_TAG'
        - name: 'Docker for LGDXRobotCloud.Worker'
          url: 'https://hub.docker.com/v2/repositories/yukaitung/lgdxrobotcloud.worker/tags/$TEMP_TAG'
  only:
    - main
