# LGDXRobot Cloud GitLab CI/CD
# Variables
# $EXT_REGISTRY: Registry URL (e.g. docker.io)
# $EXT_USER: Username for the registry
# $EXT_PAT: PAT for the registry (https://docs.docker.com/security/for-developers/access-tokens/)

variables:
  # 1) Name of directory where restore and build objects are stored.
  OBJECTS_DIRECTORY: 'obj'
  # 2) Name of directory used for keeping restored dependencies.
  NUGET_PACKAGES_DIRECTORY: '.nuget'
  # 3) A relative path to the source code from project repository root.
  SOURCE_CODE_PATH: '*/'

# To configure cache to pass over restored dependencies for re-use.
cache:
  # Per-stage and per-branch caching.
  key: "$CI_JOB_STAGE-$CI_COMMIT_REF_SLUG"
  paths:
    # 1) Main JSON file holding information about package dependency tree, packages versions,
    # frameworks etc. It also holds information where to the dependencies were restored.
    - '$SOURCE_CODE_PATH$OBJECTS_DIRECTORY/project.assets.json'
    # 2) Other NuGet and MSBuild related files. Also needed.
    - '$SOURCE_CODE_PATH$OBJECTS_DIRECTORY/*.csproj.nuget.*'
    # 3) Path to the directory where restored dependencies are kept.
    - '$NUGET_PACKAGES_DIRECTORY'
  # 'pull-push' policy means that latest cache will be downloaded (if it exists)
  policy: pull-push

stages:
  - build
  - test
  - deploy
  - release

build:
  image: mcr.microsoft.com/dotnet/sdk:9.0
  stage: build
  before_script:
    - 'dotnet restore --packages $NUGET_PACKAGES_DIRECTORY'
  script:
    - 'dotnet build --no-restore'

unit-test:
  image: mcr.microsoft.com/dotnet/sdk:9.0
  stage: test
  before_script:
    - 'dotnet restore --packages $NUGET_PACKAGES_DIRECTORY'
  script:
    # Run tests
    - 'dotnet test --settings:"Tests/.runsettings" --collect:"XPlat Code Coverage" --test-adapter-path:. --logger:"junit;LogFilePath=TestResults\test-result.xml;MethodFormat=Class;FailureBodyFormat=Verbose" --no-restore'
    # Generate coverage report
    - 'dotnet tool restore'
    - 'dotnet tool run reportgenerator -reports:"Tests/**/coverage.cobertura.xml" -targetdir:"coveragereport" -reporttypes:"HtmlInline;Cobertura;TextSummary"'
    - 'sed -n "/Summary/,/^$/p" coveragereport/Summary.txt'
  coverage: '/Line coverage: (\d+\.\d+%)/'
  artifacts:
    when: always
    paths:
      - coveragereport/*.*
      #- Tests/**/test-result.xml
    reports:
      junit:
        - Tests/**/test-result.xml
      coverage_report:
        coverage_format: cobertura
        path: coveragereport/Cobertura.xml

unit-test-page:
  image: alpine:latest
  stage: deploy
  script:
    - 'rm coveragereport/Cobertura.xml'
    - 'rm coveragereport/Summary.txt'
    - 'mv coveragereport/ public/'
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
    - main

release-docker:
  image: docker:24.0.5-git
  stage: release
  dependencies: []
  tags:
    - lgdx-arm64
    - saas-linux-small-amd64
  services:
    - docker:24.0.5-dind
  script:
    - apk add libxml2-utils
    - TEMP_TAG=$(xmllint --xpath "//Project/PropertyGroup/Version/text()" version.xml)
    - docker build -t $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:latest -t $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:$TEMP_TAG -f Dockerfile.api .
    - docker build -t $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:latest -t $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:$TEMP_TAG -f Dockerfile.ui .
    - docker build -t $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:worker -t $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.worker:$TEMP_TAG -f Dockerfile.worker .
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    - docker push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:latest
    - docker push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:$TEMP_TAG
    - docker push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:latest
    - docker push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:$TEMP_TAG
    - docker push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:worker
    - docker push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.worker:$TEMP_TAG
  only:
    - main
