# LGDXRobot Cloud GitLab CI/CD
# Variables
# $EXT_REGISTRY: Registry URL (e.g. docker.io)
# $EXT_USER: Username for the registry
# $EXT_PAT: PAT for the registry (https://docs.docker.com/security/for-developers/access-tokens/)

variables:
  # 1) Name of directory where restore and build objects are stored.
  OBJECTS_DIRECTORY: 'obj'
  # 2) Name of directory used for keeping restored dependencies.
  NUGET_PACKAGES_DIRECTORY: '.nuget'
  # 3) A relative path to the source code from project repository root.
  SOURCE_CODE_PATH: '*/'

# To configure cache to pass over restored dependencies for re-use.
cache:
  # Per-stage and per-branch caching.
  key: "$CI_JOB_STAGE-$CI_COMMIT_REF_SLUG"
  paths:
    # 1) Main JSON file holding information about package dependency tree, packages versions,
    # frameworks etc. It also holds information where to the dependencies were restored.
    - '$SOURCE_CODE_PATH$OBJECTS_DIRECTORY/project.assets.json'
    # 2) Other NuGet and MSBuild related files. Also needed.
    - '$SOURCE_CODE_PATH$OBJECTS_DIRECTORY/*.csproj.nuget.*'
    # 3) Path to the directory where restored dependencies are kept.
    - '$NUGET_PACKAGES_DIRECTORY'
  # 'pull-push' policy means that latest cache will be downloaded (if it exists)
  policy: pull-push

stages:
  - build-2
  - release



# Build Docker Images for AMD64
release-docker-amd64:
  image: docker:24.0.5-git
  stage: build-2
  dependencies: []
  services:
    - docker:24.0.5-dind
  script:
    - docker build -t $CI_REGISTRY/$CI_REGISTRY_USER/lgdxrobotcloud.api-amd64 -f Dockerfile.api .
    - docker build -t $CI_REGISTRY/$CI_REGISTRY_USER/lgdxrobotcloud.ui-amd64 -f Dockerfile.ui .
    - docker build -t $CI_REGISTRY/$CI_REGISTRY_USER/lgdxrobotcloud.worker-amd64 -f Dockerfile.worker .
    - echo -n $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker push $CI_REGISTRY/$CI_REGISTRY_USER/lgdxrobotcloud.api-amd64
    - docker push $CI_REGISTRY/$CI_REGISTRY_USER/lgdxrobotcloud.ui-amd64
    - docker push $CI_REGISTRY/$CI_REGISTRY_USER/lgdxrobotcloud.worker-amd64
  only:
    - main

# Build Docker Images for ARM64
release-docker-arm64:
  image: docker:24.0.5-git
  stage: build-2
  dependencies: []
  tags:
    - saas-linux-small-arm64 
  services:
    - docker:24.0.5-dind
  script:
    - docker build -t $CI_REGISTRY/$CI_REGISTRY_USER/lgdxrobotcloud.api-arm64 -f Dockerfile.api .
    - docker build -t $CI_REGISTRY/$CI_REGISTRY_USER/lgdxrobotcloud.ui-arm64 -f Dockerfile.ui .
    - docker build -t $CI_REGISTRY/$CI_REGISTRY_USER/lgdxrobotcloud.worker-arm64 -f Dockerfile.worker .
    - echo -n $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker push $CI_REGISTRY/$CI_REGISTRY_USER/lgdxrobotcloud.api-arm64
    - docker push $CI_REGISTRY/$CI_REGISTRY_USER/lgdxrobotcloud.ui-arm64
    - docker push $CI_REGISTRY/$CI_REGISTRY_USER/lgdxrobotcloud.worker-arm64
  only:
    - main

# Combine Docker Images and Push to Registry
release-docker-push:
  image: docker:24.0.5-git
  stage: release
  dependencies:
    - release-docker-amd64
    - release-docker-arm64
  script:
    # Get version
    - apk add libxml2-utils
    - TEMP_TAG=$(xmllint --xpath "//Project/PropertyGroup/Version/text()" version.xml)
    - echo -n $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    # Combine images
    - docker pull lgdxrobotcloud.api-amd64
    - docker pull lgdxrobotcloud.api-arm64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:latest \
        lgdxrobotcloud.api-amd64 \
        lgdxrobotcloud.api-arm64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:$TEMP_TAG \
        lgdxrobotcloud.api-amd64 \
        lgdxrobotcloud.api-arm64
    - docker pull lgdxrobotcloud.ui-amd64
    - docker pull lgdxrobotcloud.ui-arm64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:latest \
        lgdxrobotcloud.ui-amd64 \
        lgdxrobotcloud.ui-arm64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:$TEMP_TAG \
        lgdxrobotcloud.ui-amd64 \
        lgdxrobotcloud.ui-arm64
    - docker pull lgdxrobotcloud.worker-amd64
    - docker pull lgdxrobotcloud.worker-arm64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.worker:latest \
        lgdxrobotcloud.worker-amd64 \
        lgdxrobotcloud.worker-arm64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.worker:$TEMP_TAG \
        lgdxrobotcloud.worker-amd64 \
        lgdxrobotcloud.worker-arm64
    # Push images
    - docker logout $CI_REGISTRY
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    - docker manifest push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:latest
    - docker manifest push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.api:$TEMP_TAG
    - docker manifest push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:latest
    - docker manifest push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.ui:$TEMP_TAG
    - docker manifest push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.worker:latest
    - docker manifest push $EXT_REGISTRY/$EXT_USER/lgdxrobotcloud.worker:$TEMP_TAG
  only:
    - main