image: mcr.microsoft.com/dotnet/sdk:9.0

variables:
  # 1) Name of directory where restore and build objects are stored.
  OBJECTS_DIRECTORY: 'obj'
  # 2) Name of directory used for keeping restored dependencies.
  NUGET_PACKAGES_DIRECTORY: '.nuget'
  # 3) A relative path to the source code from project repository root.
  SOURCE_CODE_PATH: '*/'

# To configure cache to pass over restored dependencies for re-use.
cache:
  # Per-stage and per-branch caching.
  key: "$CI_JOB_STAGE-$CI_COMMIT_REF_SLUG"
  paths:
    # 1) Main JSON file holding information about package dependency tree, packages versions,
    # frameworks etc. It also holds information where to the dependencies were restored.
    - '$SOURCE_CODE_PATH$OBJECTS_DIRECTORY/project.assets.json'
    # 2) Other NuGet and MSBuild related files. Also needed.
    - '$SOURCE_CODE_PATH$OBJECTS_DIRECTORY/*.csproj.nuget.*'
    # 3) Path to the directory where restored dependencies are kept.
    - '$NUGET_PACKAGES_DIRECTORY'
  # 'pull-push' policy means that latest cache will be downloaded (if it exists)
  policy: pull-push

before_script:
  - 'dotnet restore --packages $NUGET_PACKAGES_DIRECTORY'

build:
  stage: build
  script:
    - 'dotnet build --output build --no-restore'
  artifacts:
    paths:
      - build

tests:
  stage: test
  before_script:
    # Install report generator
    - 'dotnet tool install -g dotnet-reportgenerator-globaltool'
  script:
    # Run tests
    - 'dotnet test --no-build --output build --collect:"XPlat Code Coverage" --test-adapter-path:. --logger:"junit;LogFilePath=TestResults\test-result.xml;MethodFormat=Class;FailureBodyFormat=Verbose" --no-restore'
    # Generate coverage report
    - 'reportgenerator -reports:"Tests/**/coverage.cobertura.xml" -targetdir:"coveragereport" --reporttypes:"HtmlInline;Cobertura"'
  artifacts:
    when: always
    paths:
      - coveragereport/*.*
      - Tests/**/test-result.xml
    reports:
      junit:
        - Tests/**/test-result.xml
      coverage_report:
        coverage_format: cobertura
        path: Tests/**/coverage.cobertura.xml
  dependencies:
    - build

#deploy:
#  stage: deploy
#  script: echo "Define your deployment script!"
#  environment: production
