@attribute [Route(AppRoutes.Setting.Users.Index)]
@attribute [Authorize]
@using LGDXRobot2Cloud.UI.Components.Pages.Setting.Users.Components
@rendermode InteractiveServer

<PageHeader Title="Users Management">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Users Management
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <a href="@AppRoutes.Setting.Users.Create" class="btn btn-primary">
        Create User
      </a>
    </div>
  </div>
</PageHeader>

<PageBody>
  <UsersTable />
</PageBody>