@attribute [Route(AppRoutes.Setting.ApiKeys.Index)]
@attribute [Authorize (Policy = "ValidateLgdxUserAccess/Setting/ApiKeys/Read")]
@using LGDXRobot2Cloud.UI.Components.Pages.Administration.ApiKeys.Components
@rendermode InteractiveServer

<PageHeader Title="API Keys">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        API Keys
      </h2>
    </div>
    <AuthorizeView Policy="ValidateLgdxUserAccess/Robot/Nodes/Write">
      <div class="col-auto ms-auto">
        <a href="@AppRoutes.Setting.ApiKeys.Create" class="btn btn-primary">
          Create API Key
        </a>
      </div>
    </AuthorizeView>
  </div>
</PageHeader>

<PageBody>
  <ul class="nav nav-bordered mb-4">
    @for (int i = 0; i < Tabs.Count; i++)
    {
      var index = i;
      <li class="nav-item">
        @if (@CurrentTab == i) 
        {
          <button class="nav-link active">@Tabs[i]</button>
        }
        else 
        {
          <button class="nav-link" @onclick="@(e => HandleTabChange(index))">@Tabs[i]</button>
        }
      </li>
    }
  </ul>

  @if (CurrentTab == 0)
  {
    <LgdxApiTable />
  }
  else if (CurrentTab == 1)
  {
    <ThirdPartyApiTable />
  }
</PageBody>