@attribute [Route(AppRoutes.Setting.Users.Index)]
@attribute [Authorize (Policy = "ValidateLgdxUserAccess/Identity/Users/Read")]
@using LGDXRobot2Cloud.UI.Components.Pages.Administration.Users.Components
@rendermode InteractiveServer

<PageHeader Title="Users">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Users
      </h2>
    </div>
    <AuthorizeView Policy="ValidateLgdxUserAccess/Identity/Roles/Write">
      <div class="col-auto ms-auto">
        <a href="@AppRoutes.Setting.Users.Create" class="btn btn-primary">
          Create User
        </a>
      </div>
    </AuthorizeView>
  </div>
</PageHeader>

<PageBody>
  <UsersTable />
</PageBody>