@attribute [Route(AppRoutes.Automation.TriggerRetries.Index)]
@attribute [Authorize (Policy = Permissions.Automation.Progresses.Read)]
@using LGDXRobotCloud.UI.Components.Pages.Automation.TriggerRetries.Components;

<PageHeader Title="Trigger Retries">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Trigger Retries
      </h2>
    </div>
  </div>
</PageHeader>

<PageBody>
  <TriggerRetriesTable />
</PageBody>