@using LGDXRobot2Cloud.Shared.Entities

<div class="modal modal-blur fade" id="nodeDetailModal" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Node</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <EditForm EditContext="_editContext" OnValidSubmit="HandleValidCreate" OnInvalidSubmit="HandleInvalidCreate">
        <DataAnnotationsValidator />
        <div class="modal-body">
          <ModalValidationError Display="_isInvalid" />
          <ModalSubmissionError Display="_isError" />
          <div class="mb-3">
            <label class="form-label" for="Name">Name</label>
            <InputText id="Name" @bind-Value="_nodeCreate.Name" type="text" class="form-control"
              placeholder="Your node name" />
            <ValidationMessage class="invalid-feedback" For="@(() => _nodeCreate.Name)" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="ProcessName">Process Name</label>
            <InputText id="ProcessName" @bind-Value="_nodeCreate.ProcessName" type="text" class="form-control"
              placeholder="e.g. ros2 launch" />
            <ValidationMessage class="invalid-feedback" For="@(() => _nodeCreate.ProcessName)" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="Arguments">Arguments (Optional)</label>
            <InputTextArea id="Arguments" @bind-Value="_nodeCreate.Arguments" class="form-control" rows="3"
              placeholder="e.g. lgdxrobot2_navigation nav2_rtabmap.launch.py"></InputTextArea>
            <ValidationMessage class="invalid-feedback" For="@(() => _nodeCreate.Arguments)" />
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancel
          </a>
          <button type="submit" class="btn btn-primary ms-auto">
            Create new node
          </button>
        </div>
      </EditForm>
    </div>
  </div>
</div>
