@attribute [Route(AppRoutes.Automation.Progresses.Index)]
@attribute [Authorize (Policy = Permissions.Automation.Progresses.Read)]
@using LGDXRobot2Cloud.UI.Components.Pages.Automation.Progresses.Components;
@rendermode InteractiveServer

<PageHeader Title="Progresses">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Progresses
      </h2>
    </div>
    <AuthorizeView Policy="@Permissions.Automation.Progresses.Write">
      <div class="col-auto ms-auto">
        <a href="@AppRoutes.Automation.Progresses.Create" type="button" class="btn btn-primary">
          Create Progress
        </a>
      </div>
    </AuthorizeView>
  </div>
</PageHeader>

<PageBody>
  <ProgressesTable />
</PageBody>