@attribute [Route(AppRoutes.Automation.Flows.Index)]
@attribute [Authorize (Policy = Permissions.Automation.Flows.Read)]
@using LGDXRobot2Cloud.UI.Components.Pages.Automation.Flows.Components

<PageHeader Title="Flows">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Flows
      </h2>
    </div>
    <AuthorizeView Policy="@Permissions.Automation.Flows.Write">
      <div class="col-auto ms-auto">
        <a href="@AppRoutes.Automation.Flows.Create" type="button" class="btn btn-primary">
          Create Flow
        </a>
      </div>
    </AuthorizeView>
  </div>
</PageHeader>

<PageBody>
  <FlowsTable />
</PageBody>