@if (Display)
{
  <div class="alert alert-warning" role="alert">
    <div class="d-flex align-items-center">
      <i class="me-2 ti ti-exclamation-circle" style="font-size: 24px;"></i>
      <div>
        A few things need fixing before submission.
      </div>
    </div>
  </div>
}


@code {
  [Parameter]
  public bool Display { get; set; }
}