<div class="card">
  <div class="card-header">
    <h3 class="card-title">Robot Information</h3>
  </div>
  <EditForm EditContext="_editContext" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="card-body">
      <ApiErrorAlert Errors="Robot?.Errors" />
      <FormValidationErrorAlert Errors="@_editContext.GetValidationMessages()" />
      <RobotInfoForm Robot="@Robot"/>
    </div>
    <div class="card-footer d-flex">
      <AuthorizeView Policy="ValidateLgdxUserAccess/Robot/Robots/Write" Context="RobotInfoUpdate">
        <button type="submit" class="btn btn-primary ms-auto">Update</button>
      </AuthorizeView>
    </div>
  </EditForm>
</div>