@charset "UTF-8";

/* Tom select in modal */
.ts-dropdown {
  z-index: 2000;
}

/* Tom select width for table */
.ts-control > input {
  width: 1px !important;
  min-width: 1rem !important;
}

/* Firefox auto focus bug */
.no-focus:focus {
  outline: 0;
}

/* Remove balance for scroll bar */
* {
  scrollbar-color: auto;
}
@media (min-width: 992px) {
  :root, :host {
    margin-left: 0;
    margin-right: 0;
  }
}

/* fix colour for nav items */
a.dropdown-item.active, a.nav-link.active {
  background-color: var(--tblr-dropdown-link-active-bg) !important;
  color: var(--tblr-primary) !important;
}