@page "/"
@using LGDXRobotCloud.UI.Components.Pages.Home.Components
@using LGDXRobotCloud.UI.Components.Shared
@using LGDXRobotCloud.UI.Services
@using LGDXRobotCloud.Utilities.Enums
@attribute [Authorize]

<PageHeader Title="Home">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Home
      </h2>
      <div class="text-secondary mt-1">
        <i class="ti ti-map-pin-filled"></i>
        @RealmName
      </div>
    </div>
  </div>
</PageHeader>

<PageBody>
  <div class="row row-cards">
    <AuthorizeView Policy="@Permissions.Automation.AutoTasks.Read">
      <div class="col-12">
        <RealtimeAutoTasksTable Title="Running Tasks" RunningAutoTasks="true" />
      </div>
      <div class="col-12">
        <RealtimeAutoTasksTable Title="Waiting Queue" RunningAutoTasks="false" />
      </div>
    </AuthorizeView>
  </div>
</PageBody>

@code {
  [Inject]
  public required ICachedRealmService CachedRealmService { get; set; }

  [Inject]
  public required ITokenService TokenService { get; set; }

  [Inject]
  public required AuthenticationStateProvider AuthenticationStateProvider { get; set; }
  
  private string RealmName { get; set; } = string.Empty;

  protected override async Task OnInitializedAsync()
  {
    var user = AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User;
    var settings = TokenService.GetSessionSettings(user);
    RealmName = CachedRealmService.GetRealmName(settings.CurrentRealmId);
    await base.OnInitializedAsync();
  }
}