@using LGDXRobot2Cloud.UI.Helpers

<div class="modal modal-blur fade" id="apiKeySecretModal" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">API Key Secret</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <EditForm Model="_updateApiKeySecret">
          <div class="modal-body">
            <ModalSubmitError Display="_isError" Crud="@CrudOperation.Update" />
            @if (Id != null)
            {
              <div class="mb-3 row">
                <label class="col-3 col-form-label">ID</label>
                <div class="col">
                  <div class="col form-control-plaintext">@Id</div>
                </div>
              </div>
            }
            <div class="mb-3 row">
              <label class="col-3 col-form-label" for="Key-Secret">Secret</label>
              <div class="col">
                <div class="col form-control-plaintext">
                  @if (_getApiKeySecret == null)
                  {
                    <button type="button" class="page-link link-primary" @onclick="HandleGetSecret">Press here to show secret</button>
                  }
                  else
                  {
                    <span>@_getApiKeySecret.Secret</span>
                  }
                  <small class="form-hint">
                    By pressing the button, an audit log will be created.
                  </small>
                </div>
              </div>
            </div>
            @if (IsThirdParty)
            {
              <div class="mb-3 row">
                <label class="col-3 col-form-label" for="Update-Key-Secre">Update Secret</label>
                <div class="col">
                  <InputText id="Update-Key-Secret" @bind-Value="_updateApiKeySecret.Secret" type="text" class="form-control"
                  placeholder="New API Key Secret" />
                </div>
              </div>
            }
          </div>
          <div class="modal-footer">
            <a class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">
              Close
            </a>
            @if (IsThirdParty)
            {
              <button type="submit" class="btn btn-primary ms-auto">
                Update
              </button>
            }
          </div>
        </EditForm>
    </div>
  </div>
</div>