<div class="card h-100">
  <!-- Header -->
  <div class="card-header">
    <h3 class="card-title">Certificate Detail</h3>
  </div>

  <!-- Data -->
  <div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable">
      <tbody>
        <tr><td>Thumbprint</td><td></td></tr>
        <tr><td>Valid Start</td><td></td></tr>
        <tr><td>Valid Till</td><td></td></tr>
        <tr><td>Backup Thumbprint</td><td></td></tr>
      </tbody>
    </table>
  </div>

  <div class="card-footer">
    <div class="d-flex">
      <a href="#" class="btn btn-primary ms-auto">Renew Certificate</a>
    </div>
  </div>
</div>
