<div class="card h-100">
  <!-- Header -->
  <div class="card-header">
    <h3 class="card-title">Robot Detail</h3>
  </div>

  <!-- Data -->
  <div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable">
      <tbody>
        <tr><td>Name</td><td></td></tr>
        <tr><td>Address</td><td></td></tr>
        <tr><td>Namespace</td><td></td></tr>
      </tbody>
    </table>
  </div>

  <div class="card-footer">
    <div class="d-flex">
      <a href="#" class="btn btn-primary ms-auto">Update</a>
    </div>
  </div>
</div>
