@using LGDXRobot2Cloud.UI.Components.Robots

<div class="mt-4">
  <EditForm EditContext="_editContext" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
    <DataAnnotationsValidator />
    <ModalValidationError Display="IsInvalid" />
    <ModalSubmitError Display="IsError" Crud="@(Robot != null ? CrudOperation.Update : CrudOperation.Create)" />
    <RobotInfo Robot="Robot"/>
      <div class="d-flex">
        <button type="submit" class="btn btn-primary ms-auto">Update</button>
      </div>
  </EditForm>
</div>