<div class="mb-1">
  <ol class="breadcrumb" aria-label="breadcrumbs">
    <li class="breadcrumb-item"><button class="btn-link p-0 border-0" onclick="
      history.back();
      var timer = setTimeout(() => {
        window.location = @($"\"{Fallback}\"");
      }, 100);
      addEventListener('pageOnDestroy',()=>{
          window.clearTimeout(timer)
      });
    ">◀ Return</button></li>
  </ol>
</div>

@code {
  [Parameter]
  public string Fallback { get; set; } = "/";
}