@attribute [Route(AppRoutes.Identity.ForgotPassword)]
@layout EmptyLayout

<div style="display: none;">
  <PageTitle>Forgot Password | LGDXRobot2 Cloud</PageTitle>
</div>

<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="text-center mb-4">
      <a class="navbar-brand navbar-brand-autodark">
        <img src="/img/logo.png" height="32" alt="LGDXRobot2" class="navbar-brand-image">
      </a>
    </div>
    <div class="card card-md">
      <div class="card-body">
        <a href="@AppRoutes.Identity.Login">◀ Return</a>
        <h2 class="h2 text-center mb-4">Forgot Password</h2>
        <EditForm Model="ForgotPasswordRequest" method="post" OnValidSubmit="HandleForgotPassword" FormName="forgotPassword">
          @if (Success)
          {
            <p>A password reset email has been sent to your email account.</p>
          }
          else
          {
            <div class="mb-3">
              <label class="form-label">Email</label>
              <InputText type="text" class="form-control" autocomplete="off" @bind-Value="ForgotPasswordRequest.Email" />
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
          }
        </EditForm>
      </div>
    </div>
  </div>
</div>