@attribute [Route(AppRoutes.Identity.ResetPassword)]
@layout EmptyLayout

<div style="display: none;">
  <PageTitle>Reset Password | LGDXRobot2 Cloud</PageTitle>
</div>

<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="text-center mb-4">
      <a class="navbar-brand navbar-brand-autodark">
        <img src="/img/logo.png" height="32" alt="LGDXRobot2" class="navbar-brand-image">
      </a>
    </div>
    <div class="card card-md">
      <div class="card-body">
        <h2 class="h2 text-center mb-4">Reset Password</h2>
        <EditForm Model="ResetPasswordRequest" method="post" OnValidSubmit="HandleResetPassword" FormName="resetPassword">
          @if (Success)
          {
            <p>Your password has been updated successfully. Please use your new password to log in.</p>
            <a class="btn w-100" href="@AppRoutes.Identity.Login">Return</a>
          }
          else
          {
            <SubmitErrorModal Display="@IsError" />
            <div class="mb-3">
              <label class="form-label">Email</label>
              <InputText type="password" class="form-control" autocomplete="off" @bind-Value="ResetPasswordRequest.Email" />
            </div>
            <div class="mb-3">
              <label class="form-label">New Password</label>
              <InputText type="password" class="form-control" autocomplete="off" @bind-Value="ResetPasswordRequest.NewPassword" />
            </div>
            <div class="mb-3">
              <label class="form-label">Confirm Password</label>
              <InputText type="password" class="form-control" autocomplete="off" @bind-Value="ResetPasswordRequest.ConfirmPassword" />
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
          }
        </EditForm>
      </div>
    </div>
  </div>
</div>