@using LGDXRobot2Cloud.UI.Helpers

@if (Display)
{
  <div class="alert alert-danger" role="alert">
    <div class="d-flex align-items-center">
      <i class="me-2 ti ti-x" style="font-size: 24px;"></i>
      <div>Something went wrong while processing your request.</div>
    </div>
  </div>
}


@code {
  [Parameter]
  public bool Display { get; set; }
}