@using LGDXRobot2Cloud.UI.Helpers

@if (Display)
{
  <div class="alert alert-important alert-success alert-dismissible-" role="alert">
    <div class="d-flex align-items-center">
      <i class="me-2 ti ti-check" style="font-size: 24px;"></i>
      <div>Updated.</div>
    </div>
  </div>
}

@code {
  [Parameter]
  public bool Display { get; set; }
}