@using LGDXRobotCloud.UI.Helpers
@using Microsoft.AspNetCore.Mvc

@if (Errors != null)
{
  <div class="alert alert-important alert-danger" role="alert">
    <div class="d-flex">
      <i class="me-2 ti ti-x" style="font-size: 24px;"></i>
      <div>
        <h4 class="alert-heading">An error occurred while processing your request:</h4>
        <div class="alert-description">
          @if (Errors.Count > 0)
          {
            <ul class="alert-list">
              @foreach (var (field, error) in Errors)
              {
                <li>@(error ?? string.Empty)</li>
              }
            </ul>
          }
        </div>
      </div>
    </div>
  </div>
}

@code {
  [Parameter]
  public IDictionary<string,string>? Errors { get; set; }
}