@if (Errors != null && Errors.Any())
{
  <div class="alert alert-important alert-warning" role="alert">
    <div class="d-flex">
      <i class="me-2 ti ti-exclamation-circle" style="font-size: 22px;"></i>
      <div>
        <h4 class="alert-heading">A few things need fixing before submission:</h4>
        <div class="alert-description">
          <ul class="alert-list">
            @foreach (string error in Errors)
            {
              <li>@(error)</li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
}

@code {
  [Parameter]
  public IEnumerable<string>? Errors { get; set; }
}