@attribute [Route(AppRoutes.Robot.Nodes.Index)]
@attribute [Authorize (Policy = "ValidateLgdxUserAccess/Robot/Nodes/Read")]
@using LGDXRobot2Cloud.UI.Components.Pages.Robot.Nodes.Components;
@rendermode InteractiveServer

<PageHeader Title="Nodes">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Nodes
      </h2>
    </div>
    <AuthorizeView Policy="ValidateLgdxUserAccess/Robot/Nodes/Write">
      <div class="col-auto ms-auto">
        <a href="@AppRoutes.Robot.Nodes.Create" type="button" class="btn btn-primary">
          Create Node
        </a>
      </div>
    </AuthorizeView>
  </div>
</PageHeader>

<PageBody>
  <NodeTable />
</PageBody>