<LayoutView Layout="@typeof(MainLayout)">
  <h1>Task Aborted: Robot [Robot Name/ID]</h1>
  <p>
    We wanted to inform you that the task assigned to your robot, [Robot Name/ID], has been aborted.
    <br />
    Here are the details:
    <ul>
      <li>Task:</li>
      <li>Start:</li>
      <li>Reason for Abortion:</li>
    </ul>
    You can review the task details and take necessary actions on the [Dashboard Link].
  </p>
</LayoutView>