<LayoutView Layout="@typeof(MainLayout)">
  <h1>Your Password Has Been Updated</h1>
  <p>
    We wanted to let you know that the password for your account with the username <b>@UserName</b> has been successfully updated at @Time.
  </p>
  <p>
    If you didn't make this change, please contact contact your administrator immediately.
  </p>
</LayoutView>

@code {
  [Parameter]
  public string UserName { get; set; } = string.Empty;

  [Parameter]
  public string Time { get; set; } = string.Empty;
}