<LayoutView Layout="@typeof(MainLayout)">
  <h1>Reset Your Password</h1>
  <p>
    We received a request to reset your password. Click the link below to set a new password:
  </p>
  <br />
  <Button HREF="https://www.google.com">Set Password</Button>
  <br />
  <br />
  <p>
    Or you can use this link instead:<Link HREF="https://www.google.com">www.google.com</Link>
    <br />
    If you didn't request a password reset, please ignore this email or contact your administrator.
  </p>
</LayoutView>