<LayoutView Layout="@typeof(MainLayout)">
  <h1>Your Password Has Been Updated</h1>
  <p>
    We wanted to let you know that your password has been successfully updated. 
    If you didn't make this change, please contact your administrator.
  </p>
</LayoutView>