<LayoutView Layout="@typeof(MainLayout)">
  <h1>Action Needed: Your Robot Encountered an Issue</h1>
  <p>
    We noticed that your robot, [Robot Name/ID], encountered a problem during its operation. 
    It appears to be stuck and requires your attention.
    <br />
    Here are the details:
    <ul>
      <li>Realm:</li>
      <li>Task:</li>
      <li>Time:</li>
      <li>Location:</li>
    </ul>
  </p>
</LayoutView>