<LayoutView Layout="@typeof(MainLayout)">
  <h1>Welcome To LGDXRobot2</h1>
  <p>Welcome aboard! Please set your password to activate your account</p>
  <br />
  <Button HREF="https://www.google.com">Set Password</Button>
  <br />
  <Link HREF="https://www.google.com">www.google.com</Link>
</LayoutView>