<LayoutView Layout="@typeof(MainLayout)">
  <h1>Welcome To LGDXRobot2</h1>
  <p>Welcome aboard! Please set your password to activate your account</p>
  <br />
  <Button>Set Password</Button>
</LayoutView>