@page "/navigation/flows"
@using LGDXRobot2Cloud.UI.Components.Flows
@rendermode InteractiveServer

<PageHeader Title="Flows">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Flows
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <button type="button" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
        data-bs-target="#flowDetailModal" @onclick="@(e => FlowId = null)">
        Create Flow
      </button>
    </div>
  </div>
</PageHeader>

<PageBody>
  <ModalSubmitDone EntityName="Flow" @ref="ModalSubmitDone"/>
  <FlowTable OnIdSelected="HandleItemSelect" @ref="FlowTable" />
</PageBody>

<FlowDetail Id="FlowId" OnSubmitDone="HandleSubmitDoneOpen" />