@page "/robots/collections"
@using LGDXRobot2Cloud.UI.Components.NodesCollections
@rendermode InteractiveServer

<PageHeader Title="Nodes Collections">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Nodes Collections
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <button type="button" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
        data-bs-target="#nodesCollectionDetailModal" @onclick="@(e => NodesCollectionId = null)">
        Create Nodes Collection
      </button>
    </div>
  </div>
</PageHeader>


<PageBody>
  <ModalSubmitDone EntityName="Nodes Collection" @ref="ModalSubmitDone"/>
  <NodesCollectionTable OnIdSelected="HandleItemSelect" @ref="NodesCollectionTable" />
</PageBody>

<NodeCollectionDetail Id="NodesCollectionId" OnSubmitDone="HandleSubmitDoneOpen" />