@page "/robots/nodes"
@using LGDXRobot2Cloud.UI.Components.Nodes
@rendermode InteractiveServer

<PageHeader Title="Nodes">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Nodes
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <button type="button" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
        data-bs-target="#nodeDetailModal" @onclick="@(e => _nodeId = null)">
        Create Node
      </button>
    </div>
  </div>
</PageHeader>

<PageBody>
  <NodeTable OnIdSelected="HandleItemSelect"/>
</PageBody>

<NodeDetail Id="_nodeId" />