@page "/robots/robots"
@using LGDXRobot2Cloud.UI.Components.Robots
@rendermode InteractiveServer

<PageHeader Title="Robots">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Robots
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <button type="button" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
        data-bs-target="#addRobotModal">
        Add Robot
      </button>
    </div>
  </div>
</PageHeader>

<PageBody>
  <ModalSubmitDone EntityName="Robot" @ref="ModalSubmitDone" />
  <RobotGrid @ref="RobotGrid" />
</PageBody>

<AddRobot OnSubmitDone="HandleSubmitDoneOpen" />