@page "/navigation/triggers"
@using LGDXRobot2Cloud.UI.Components.Triggers
@rendermode InteractiveServer

<PageHeader Title="Triggers">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Triggers
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <button type="button" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
        data-bs-target="#" ><!-- @onclick="@(e => NodeId = null)" -->
        Create Trigger
      </button>
    </div>
  </div>
</PageHeader>

<PageBody>
  <ModalSubmitDone EntityName="Trigger" @ref="ModalSubmitDone"/>
  <TriggerTable OnIdSelected="HandleItemSelect" @ref="TriggerTable" />
</PageBody>