@page "/navigation/waypoints"
@using LGDXRobot2Cloud.UI.Components.Waypoints
@rendermode InteractiveServer

<PageHeader Title="Waypoints">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Waypoints
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <button type="button" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
        data-bs-target="#waypointDetailModal" @onclick="@(e => WaypointId = null)">
        Create Waypoint
      </button>
    </div>
  </div>
</PageHeader>

<PageBody>
  <ModalSubmitDone EntityName="Waypoint" @ref="ModalSubmitDone" />
  <WaypointTable OnIdSelected="HandleItemSelect" @ref="WaypointTable" />
</PageBody>

<WaypointDetail Id="WaypointId" OnSubmitDone="HandleSubmitDoneOpen" />