#navigation-map-container {
  position: relative;
}

#navigation-map-buttons {
  position: absolute;
  right: 1em;
  top: 1em;
  background-color: var(--tblr-card-bg);
}

#navigation-map-ruler {
  position: absolute; 
  width: 1px; 
  height: 2em; 
  right: 1em;
  bottom: 1em;
}

#navigation-map-sidebar {
  max-width: 400px;
}

#navigation-map-sidebar-info {
  overflow: auto;
}