@namespace LGDXRobotCloud.Worker.Components
<LayoutView Layout="@typeof(MainLayout)">
  <h1>Action Required: Robot Certificate Expiry Alert</h1>
  <p>
    This is a reminder that the authentication certificate for your robot, [Robot Name/ID], will expire soon.
    <br />
    Here are the details:
    <ul>
      <li>Robot ID:</li>
      <li>Certificate Expiry Date:</li>
    </ul>
    To ensure uninterrupted operation, please renew the certificate before the expiration date.
    <br />
    If the certificate is not renewed in time, the robot may lose connectivity and the ability to perform tasks.
  </p>
</LayoutView>