@page "/Error"
@attribute [Authorize]

<PageTitle>Error | LGDXRobot2 Cloud</PageTitle>

<div class="container-tight py-4 flex-fill d-flex justify-content-center align-items-center">
  <div class="empty">
    <i class="ti ti-circle-x mb-4" style="font-size: 64px;"></i>
    <p class="empty-title">Service Error</p>
    <p class="empty-subtitle text-secondary">
      The service has run into a critical error.
    </p>
  </div>
</div>