@page "/Error"
@attribute [Authorize]

<div class="page-body">
  <div class="container-xl">
    <div class="container-tight py-4">
      <div class="empty">
        <i class="ti ti-circle-x mb-4" style="font-size: 64px;"></i>
        <p class="empty-title">Service Error</p>
        <p class="empty-subtitle text-secondary">
          The service has run into a critical error.
        </p>
      </div>
    </div>
  </div>
</div>