@page "/"

<PageHeader Title="Home">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Home
      </h2>
    </div>
  </div>
</PageHeader>

<PageBody>
  Welcome to LGDXRobot2.
</PageBody>