@page "/"
@attribute [Authorize]

<PageHeader Title="Home">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Home
      </h2>
    </div>
  </div>
</PageHeader>

<PageBody>
  Welcome to LGDXRobot2.
  <AuthorizeView>
      <Authorized>
          <p>Hello, @context.User.Identity?.Name!</p>
      </Authorized>
  </AuthorizeView>
</PageBody>