<aside class="navbar navbar-vertical navbar-expand-lg">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
			aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<h1 class="navbar-brand navbar-brand-autodark sidebar-logo sidebar-item">
			<a href="">
				<img src="/img/logo.png" height="32" alt="LGDXRobot2" class="navbar-brand-image">
			</a>
		</h1>
		<div class="nav-item sidebar-item">
			<a href="https://gitlab.com/yukaitung/lgdxrobot2-blazortemplate" class="btn" target="_blank" rel="noreferrer"
				style="padding: 3px;">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
					stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none" />
					<path d="M21 14l-9 7l-9 -7l3 -11l3 7h6l3 -7z" />
				</svg>
			</a>
		</div>
		<div class="collapse navbar-collapse" id="sidebar-menu">
			<ul class="navbar-nav">
				<NavItem href="" Match="NavLinkMatch.All">
					Home
				</NavItem>
				<NavDropdown title="Navigation" href="navigation">
					<div class="dropdown-menu-column">
						<NavLink class="dropdown-item" href="navigation/map">
							Map
						</NavLink>
						<NavLink class="dropdown-item" href="navigation/tasks">
							Tasks
						</NavLink>
						<NavLink class="dropdown-item" href="navigation/waypoints">
							Waypoints
						</NavLink>
						<NavLink class="dropdown-item" href="navigation/flows">
							Flows
						</NavLink>
						<NavLink class="dropdown-item" href="navigation/triggers">
							Triggers
						</NavLink>
						<NavLink class="dropdown-item" href="navigation/progresses">
							Progresses
						</NavLink>
					</div>
				</NavDropdown>
				<NavDropdown title="Robot" href="robot">
					<div class="dropdown-menu-column">
						<NavLink class="dropdown-item" href="robot/robots">
							Robots
						</NavLink>
						<NavLink class="dropdown-item" href="robot/nodes">
							Nodes
						</NavLink>
						<NavLink class="dropdown-item" href="robot/collections">
							Nodes Collections
						</NavLink>
					</div>
				</NavDropdown>
				<NavDropdown title="Setting" href="setting">
					<div class="dropdown-menu-column">
						<NavLink class="dropdown-item" href="/setting/apikeys">
							API Keys
						</NavLink>
					</div>
				</NavDropdown>
			</ul>
		</div>
	</div>
</aside>