<div class="page-body">
  <div class="container-xl">
    <ErrorBoundary>
      <ChildContent>
        @ChildContent
      </ChildContent>
      <ErrorContent Context="ex">
        <div class="container-tight py-4">
          <div class="empty">
            <i class="ti ti-circle-x mb-4" style="font-size: 64px;"></i>
            <p class="empty-title">Service Error</p>
            <p class="empty-subtitle text-secondary">
              The service has run into a critical error.<br />Error message: @ex.Message
            </p>
          </div>
        </div>
      </ErrorContent>
    </ErrorBoundary>
  </div>
</div>

@code {
  [Parameter]
  public RenderFragment? ChildContent { get; set; }
}