<AuthorizeView>
  <Authorized>
    <div class="dropdown">
      <a class="btn" data-bs-toggle="dropdown" style="padding: 3px;">
        <i class="ti ti-user" style="font-size: 24px;"></i>
      </a>
      <div class="mt-2 dropdown-menu dropdown-menu-end">
        <a class="dropdown-item" href="@AppRoutes.Identity.User">
          @context.User.Identity?.Name
        </a>
        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal">
          Logout
        </a>
      </div>
    </div>
  </Authorized>
</AuthorizeView>

