<div class="card">
  <div class="card-header">
    <h3 class="card-title">Robot Information</h3>
  </div>
  <EditForm EditContext="_editContext" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="card-body">
      <SubmitErrorModal Display="@IsError" />
      <RobotInfoForm Robot="@Robot"/>
    </div>
    <div class="card-footer d-flex">
      <button type="submit" class="btn btn-primary ms-auto">Update</button>
    </div>
  </EditForm>
</div>