<div class="card h-100">
  <!-- Header -->
  <div class="card-header">
    <h3 class="card-title">Robot Data</h3>
  </div>

  <!-- Data -->
  <div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable">
      <tbody>
        <tr><td>Position</td><td></td></tr>
        <tr><td>Batteries</td><td></td></tr>
        <tr><td>Emergency Stops</td><td></td></tr>
        <tr><td>ETA</td><td></td></tr>
        <tr><td>Recoveries</td><td></td></tr>
        <tr><td>Distance Remaining</td><td></td></tr>
        <tr><td>Waypoints Remaining</td><td></td></tr>
      </tbody>
    </table>
  </div>
</div>
