@using LGDXRobotCloud.Utilities.Enums

@switch (RobotStatus)
{
  case RobotStatus.Idle:
    <div class="card-status-top bg-green"></div>
    break;
  case RobotStatus.Running:
    <div class="card-status-top bg-green"></div>
    break;
  case RobotStatus.Stuck:
    <div class="card-status-top bg-orange"></div>
    break;
  case RobotStatus.Aborting:
    <div class="card-status-top bg-orange"></div>
    break;
  case RobotStatus.Paused:
    <div class="card-status-top bg-blue"></div>
    break;
  case RobotStatus.Critical:
    <div class="card-status-top bg-red"></div>
    break;
  case RobotStatus.Charging:
    <div class="card-status-top bg-yellow"></div>
    break;
  case RobotStatus.Offline:
  default:
    break;
}

@code 
{
  [Parameter]
  public RobotStatus RobotStatus { get; set; } = RobotStatus.Offline;
}