@attribute [Route(AppRoutes.Robot.NodesCollections.Index)]
@attribute [Authorize (Policy = "ValidateLgdxUserAccess/Robot/NodesCollections/Read")]
@using LGDXRobot2Cloud.UI.Components.Pages.Robot.NodesCollections.Components;
@rendermode InteractiveServer

<PageHeader Title="Nodes Collections">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Nodes Collections
      </h2>
    </div>
    <AuthorizeView Policy="ValidateLgdxUserAccess/Robot/NodesCollections/Write">
      <div class="col-auto ms-auto">
        <a href="@AppRoutes.Robot.NodesCollections.Create" type="button" class="btn btn-primary">
          Create Nodes Collection
        </a>
      </div>
    </AuthorizeView>
  </div>
</PageHeader>


<PageBody>
  <NodesCollectionTable />
</PageBody>