<AuthorizeView>
  <Authorized>
    <a class="btn" data-bs-toggle="modal" data-bs-target="#changeRealm" style="padding: 7px;">
      <i class="ti ti-map-pin-filled" style="font-size: 20px; padding-right: 4px;"></i>
      @RealmName
    </a>
  </Authorized>
</AuthorizeView>