@attribute [Route(AppRoutes.Navigation.Robots.Index)]
@attribute [Authorize (Policy = Permissions.Navigation.Robots.Read)]
@using LGDXRobotCloud.UI.Services
@using LGDXRobotCloud.Utilities.Enums
@using LGDXRobotCloud.UI.Components.Pages.Navigation.Robots.Components

<PageHeader Title="Robots">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        Robots
      </h2>
      <div class="text-secondary mt-1">
        <i class="ti ti-map-pin-filled"></i>
        @RealmName
      </div>
    </div>
    <div class="col-auto ms-auto">
      <AuthorizeView Policy="@Permissions.Navigation.Robots.Write" Context="Create">
        <a href="@AppRoutes.Navigation.Robots.Create" type="button" class="btn btn-primary">
          Create Robot
        </a>
      </AuthorizeView>
    </div>
  </div>
</PageHeader>

<PageBody>
  <RobotsTable />
</PageBody>


@code {
  [Inject]
  public required ICachedRealmService CachedRealmService { get; set; }

  [Inject]
  public required ITokenService TokenService { get; set; }

  [Inject]
  public required AuthenticationStateProvider AuthenticationStateProvider { get; set; }
  
  private string RealmName { get; set; } = string.Empty;

  protected override async Task OnInitializedAsync()
  {
    var user = AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User;
    var settings = TokenService.GetSessionSettings(user);
    RealmName = await CachedRealmService.GetRealmName(settings.CurrentRealmId);
    await base.OnInitializedAsync();
  }
}