@inherits LayoutComponentBase

<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="text-center mb-4">
      <a class="navbar-brand navbar-brand-autodark">
        <img src="/img/logo.png" height="32" alt="LGDXRobot Cloud" class="navbar-brand-image">
      </a>
    </div>
    <div class="card card-md">
      <div class="card-body">
        @Body
      </div>
    </div>
  </div>
</div>