<li class="nav-item @GetActive(href, Match)">
  <NavLink class="nav-link" href="@href" Match="@Match">
    <span class="nav-link-title">
      @ChildContent
    </span>
  </NavLink>
</li>

@code {
  [Parameter]
  public string href { get; set; } = String.Empty;

  [Parameter]
  public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix;

  [Parameter]
  public RenderFragment? ChildContent { get; set; }

  // https://stackoverflow.com/questions/64306326/how-do-i-set-nav-item-active-in-blazor

  [Inject]
  NavigationManager NavigationManager { get; set; } = default!;

  protected override void OnInitialized() => 
    NavigationManager.LocationChanged += (s, e) => StateHasChanged();

  public bool IsActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
  {
    var uri = new Uri(NavigationManager.Uri);
    var relativePath = NavigationManager.ToBaseRelativePath(uri.GetLeftPart(UriPartial.Path)).ToLower();
    return navLinkMatch == NavLinkMatch.All ? relativePath == href.ToLower() : relativePath.StartsWith(href.ToLower());
  }

  public string GetActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix) => 
    IsActive(href, navLinkMatch) ? "active" : "";
}