<div class="page-header d-print-none">
  <div class="container-xl">
    @ChildContent
  </div>
</div>

<PageTitle>@Title | LGDXRobot2 Cloud</PageTitle>

@code {
  [Parameter]
  public RenderFragment? ChildContent { get; set; }

  [Parameter]
  public string Title { get; set; } = string.Empty;
}